<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :image_file, class: "form-control", accept: "image/gif, image/jpeg, image/png" %>
  </div>

  <div class="field">
    <%= form.text_area :description, class: "form-control", placeholder: "description" %>
  </div>

  <div class="field">
    <%= form.label "public?", class: "form-check-label" %>
    <%= form.check_box :public, class: "form-check-input", value: false %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :image_user_id, type: :hidden, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
