<p id="notice"><%= notice %></p>

<div class="text-center container-fluid">
  <%= image_tag @image.image_file, class:"img-fluid" %>
</div>

<p>
  <strong>description:</strong>
  <%= @image.description %>
</p>
<p>
  <strong>uploaded by:</strong>
  <%= @username %>
</p>

<% if @image.user == current_user %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', images_path %>
