<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@image.image_file) if @image.image_file.attached? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>




<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
